// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "./widgets/main.scss";
@use "theme";

.arrow .icon {
  transition: 200ms;
  transition-property: -gtk-icon-transform;
  transition-timing-function: ease-in;
}
.arrow.opened .icon {
  -gtk-icon-transform: rotate(90deg);
}
.sep-dot {
  border-radius: 50%;
  min-height: 0.25em;
  min-width: 0.25em;
  background: theme.$base04;
  margin: 0 0.5em;
}

.sep {
  border-radius: 1em;
  margin: 0 0.5em;
  min-height: 0.25em;
  background: theme.$base04;
}
