.desktop-clock {
	background: transparent;
}

.desktop-clock label:nth-child(1) {
	text-shadow: 5px 5px 2px black;
	font-size: 100px;
}

.desktop-clock label:nth-child(2) {
	text-shadow: 2px 2px 2px black;
	font-size: 25px;
}
