window#notif-board {
	background-color: transparent;
}

.notif-board-wrapper {
	padding: 10px;
	background-color: transparent;
}

.notif-board {
	min-height: 600px;
	min-width: 450px;
	border-radius: 5px;

	background-color: @base00;
	box-shadow: 0px 0px 5px 0px @base01;
	padding: 10px;
}
