@use "theme";

window#powerMenu,
window#verification {
	background: transparent;
}

.powerMenu {
	font-size: 2rem;
	background: theme.$base00;
	border-radius: 1em;
	box-shadow: 2px 3px 8px 0 theme.gtkalpha(black, 0.4);
	border: 2.5pt solid theme.gtkalpha(theme.$base05, 0.03);
	padding: 1em;
	.sysButton {
		margin: 0.5em;
		padding: 1em;
	}
}

.verification {
	padding: 1em;
	border-radius: 1em;
	font-size: 2rem;
	background: theme.$base00;
	padding: 1em;
	box-shadow: 2px 3px 8px 0 theme.gtkalpha(black, 0.4);
	border: 2.5pt solid theme.gtkalpha(theme.$base05, 0.03);
	.confirmBtn {
		margin: 0 0.5em;
		padding: 0.5em 1em;
	}
}
